.search-results
{
    display:flex;
    flex-wrap: wrap;
}
.a
{
    max-width: 30%;
    width:30%;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
.flagimage
{
    display:block;
    margin:auto;
    width:30%;
    height:30%;
}
input
{
margin-left:40%;
border-radius:2px;
padding:13px;
border:darkgray;
}
